.map {
	background-color: #e0dcd5;
	background-image: url("../img/map-mobile@1x.jpg");
	background-repeat: no-repeat;
	background-position: center;
	width: 100vw;
	height: 457px;
}

@media (min-resolution: 144dpi), 
       (min-resolution: 1.5dppx) {
       		.map {
       			background-image: url("../img/map-mobile@2x.jpg"); 
    }
}

@media (min-width: 700px){
		.map {
		background-image: url("../img/map-tablet@1x.jpg");
	}

	    @media (min-resolution: 144dpi), 
               (min-resolution: 1.5dppx) {
            .map {   	
       		background-image: url("../img/map-tablet@2x.jpg");
       	}	
    }   	
}

@media (min-width: 1100px){
		.map {
			background-image: url("../img/map-desktop@1x.jpg");
	}	

	    @media (min-resolution: 144dpi), 
               (min-resolution: 1.5dppx) {
            .map {   	
       			background-image: url("../img/map-desktop@2x.jpg");
       	}		
    }   	
}

@media (min-width: 1100px) {
	.map {
		position: absolute;
		right: 114px;
		top: -19px;
		width: 525px;		
		height: 457px;
	}
}