.main-header__btn {
	position: absolute;
	top: 10px;
	right: 30px;
	width: 20px;
	height: 14px;
	border: none;
	cursor: pointer;
	background-color: transparent;
	box-shadow: 0 2px 0 0 #000 inset,
				0 6px 0 0 #fff inset,
				0 8px 0 0 #000 inset,
	            0 -2px 0 0 #000 inset;

}

.main-header__btn:focus {
	outline: none;
}

@media (min-width: 700px) {
	.main-header__btn {
		display: none;
	}
}