.good__wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 24px;
}

@media (min-width: 700px){
	.good__wrap {		
		margin-bottom: -2px;		
	}
}

@media (min-width: 1100px){
	.good__wrap {	
		padding: 0 25px;		
		width: 1100px;
		margin-bottom: 2px;
	}
}

.good {
	margin-bottom: 55px;
	box-sizing: border-box;
	width: 100%;
}

@media (min-width: 700px) and (max-width: 1100px){
	.good {
		display: flex;
		min-height: 334px;		
	}
}

@media (min-width: 1100px) {
	.good {
		display: block;
		width: 316px;		
	}
}

.good__link-img {
	text-decoration: none;
	color: inherit;
	display: block;
}

@media (min-width: 700px) and (max-width: 1100px) {
	.good__link-img {		
		min-height: 334px;
		min-width: 334px;		
	}
}

@media (min-width: 1100px) {
	.good__link-img {		
		min-height: 463px;
		min-width: 316px;		
	}
}

.good__descr {
	color: $color-text;
	font-size: 13px;
	line-height: 30px;
	box-sizing: border-box;
	padding-left: 30px;
	padding-top: 19px;
	position: relative;
}

@media (min-width: 700px){
	.good__descr{		
		padding-left: 28px;
		padding-top: 26px;	
		border: 1px solid $color-bg-border;	
		width: 334px;
		height: 334px;
	}
}

@media (min-width: 1100px){
	.good__descr{		
		padding-bottom: 73px;
		padding-top: 25px;	
		border: 1px solid $color-bg-border;
		min-height: 196px;
		width: 316px;
		margin-top: -7px;
	}
}

.good__link {	
	text-decoration: none;
	color: inherit;
	font-weight: bold;
	font-size: 17px;
	line-height: 24px;
}

@media (min-width: 700px){
	.good__link {		
		font-size: 20px;
		line-height: 24px;		
	}
}

.good__option {
	margin: 0;
	margin-bottom: 37px;
}

@media (min-width: 700px){
	.good__option {		
		// margin-bottom: 198px;		
	}
}

.good__price {
	font-weight: bold;
}

@media (min-width: 700px){
	.good__price {		
		font-size: 17px;
		line-height: 24px;	
		position: absolute;
		left: 31px;	
		bottom: 28px;
	}
}

@media (min-width: 700px){
	.good__price {		
		left: 27px;		
	}
}