.btn {
	width: 255px;
	box-sizing: border-box;
	outline: 2px solid $color-text;
	background: none;
	border: none;
	font-size: 17px;
	font-weight: bold;
	line-height: 46px;
	text-transform: uppercase;
	display: block;
}

@media (min-width: 700px) {
	.btn {
		width: 288px;
	}
}