.main-title {
	margin: 0;
	background-color: $color-bg;
	height: 177px;
	font-size: 27px;
	line-height: 30px;
	text-align: center;
	box-sizing: border-box;
	padding-top: 70px;
	margin-bottom: 30px;
}

@media (min-width: 700px) {
	.main-title {
		font-size: 43px;
		line-height: 50px;
		min-height: 224px;
		border-top: 1px solid $color-bg-border-2;		
		padding-top: 95px;
		margin-bottom: 80px;
	}
}

@media (min-width: 1100px) {
	.main-title {
		font-size: 53px;
		line-height: 57px;
		min-height: 255px;
		margin-bottom: 128px;
	}
}