.modal {
	height: 337px;
	border-top: 1px solid #c7c7c7;
	border-bottom: 1px solid #c7c7c7;
	padding-top: 35px;

}

@media (min-width: 700px) {
	.modal {
		width: 568px;		
		height: 338px;
		box-sizing: border-box;
		padding: 0;
	}
}

.modal__title {
	font-size: 25px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 150px;
}